@import "./global.css";



#trabalho {
    width: 113rem;
    background-color: var(--black-blue);
    color: #f7f7f7;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  header{
    width: 100%;
  }

  header h2{
    padding-left: 7rem;
    color: var(--white);
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

  .largura{
    padding-left: 2rem;
    padding-right: 2rem;
    width: 63rem;
  }
  
  #trabalho h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.2rem;
  }
  
  #trabalho h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.6rem;
  }
  
  #trabalho h3 {
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }
  
  #trabalho p {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    line-height: 1.5;
  }
  
  #trabalho .image-container {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }
  
  #trabalho .columns {
    display: block;
  }
  
  #trabalho .columns div {
    margin-bottom: 1.87rem;
  }
  
  #trabalho .columns div h2 {
    text-align: center;
    font-size: 1.12rem;
    margin-bottom: 0.62rem;
  }
  
  #trabalho .columns div p {
    font-size: 0.87rem;
    text-align: center;
  }
  
  #trabalho .image{
    display: block;
    margin-bottom: 1.25rem;
    border: 0rem;
  }

 
  