*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
    --black-red: #780000;
    --red: #c1121f;
    --white: #fdf0d5;
    --black-blue: #003049;
    --blue: #669bbc;
}



header{
    padding-top: 1.2rem;
    background: var(--red);
    width: 100%;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

nav a.activi{
    color: var(--blue);
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    img{
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
    }
}

.historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    img{
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
    }
}

.cultura{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    img{
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
    }
}

.turismo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    img{
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
    }
}
h1{
    padding-left: 7rem;
    color: var(--white);
}

a{
    padding-top: 0.7rem;
    color: var(--white);
    text-decoration: none;
}

main{
    background: var(--black-blue);
}


