@import "./global.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--black-blue);
    color: var(--white);
}

header{
    width: 100%;
}

header h2 {
    padding-left: 7rem;
    color: var(--white);
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.62rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.62rem;
}

div {
    margin-bottom: 1.25rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.container {
    width: 80rem;
    margin: 1.2rem auto;
    padding-top: 2rem;
    padding-inline: 5rem;
    background-color: var(--black-blue);
    border-radius: 0.62rem;
}

.torre {
    width: 63rem;
}

.torre img {
    width: 63rem;
}

.musseu{
    width: 63rem;
}

.musseu img {
    width: 63rem;
}

.jardim{
    width: 63rem;
}

.jardim img {
    width: 63rem;
}